.bestsellers {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 1.667vw;
    line-height: 2.031vw;
    color: #2d2d2d;
    margin-left: 20.313vw;
  }
  &__image {
    width: 11.146vw;
    height: 7.448vw;
    background: #d9d9d9;
    border-radius: 4px;
    display: flex;
  }
  &__button {
    width: 2.448vw;
    background: #ff6d00;
    border-radius: 4px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.625vw;
    line-height: 0.781vw;
    color: #f6f6f6;
    border: none;
  }
  &__container {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    margin-top: 0.833vw;
    margin-bottom: 0.573vw;
  }
  &__container-price {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5vw;
  }
}

.bestsellers__slide.bestsellers__slide.bestsellers__slide {
  height: 250px;
  background: white;
  width: 9.167vw;
  transform: scale(1);
  padding: 0;
}
@media screen and (max-width: 800px) {
  .bestsellers {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
      font-size: 4vw;
      line-height: 1.875vw;
      margin-left: 0;
    }
    &__image {
      width: 18.146vw;
      height: 13.448vw;
      background: #d9d9d9;
      border-radius: 4px;
      display: flex;
    }
    &__button {
      display: flex;
      width: 4.25vw;
      height: 1.875vw;
      font-size: 1.5vw;
    }
    &__container {
      display: flex;
      width: 80%;
      justify-content: flex-start;
      margin-top: 0.833vw;
      margin-bottom: 0.573vw;
    }
    &__container-price {
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 0.5vw;
    }
  }

  .bestsellers__slide.bestsellers__slide.bestsellers__slide {
    height: 250px;
    background: white;
    width: 9.167vw;
    transform: scale(1);
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .bestsellers {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
      font-size: 5.641vw;
      line-height: 1.875vw;
      margin-left: 0;
    }
    &__image {
      width: 54.872vw;
      height: 36.667vw;
      background: #d9d9d9;
      border-radius: 4px;
      display: flex;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12.051vw;
      height: 6.154vw;
      font-size: 3.077vw;
    }
    &__container {
      display: flex;
      width: 80%;
      justify-content: flex-start;
      margin-top: 0.833vw;
      margin-bottom: 0.573vw;
    }
    &__container-price {
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 0.5vw;
    }
  }

  .bestsellers__slide.bestsellers__slide.bestsellers__slide {
    height: 250px;
    background: white;
    width: 9.167vw;
    transform: scale(1);
    padding: 0;
  }
}
