.banner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 12.135vw;
}

.banner2__image {
  width: 21.25vw;
  height: 10vw;
}

.banner2__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/water-transport.svg);
  width: 21.25vw;
  height: 10vw;
}

.banner2__image-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/moto-transport.png);
  width: 21.25vw;
  height: 10vw;
}

.banner2__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 0.729vw;
  line-height: 109.4%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #383b47;
  margin-top: 8vw;
  margin-left: 13vw;
}

@media screen and (max-width: 800px) {
  .banner2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.146vw;
    width: 96vw;
  }

  .banner2__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/water-transport.svg);
    width: 46.75vw;
    height: 24vw;
  }

  .banner2__image-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/moto-transport.png);
    width: 46.75vw;
    height: 24vw;
  }

  .banner2__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 1.75vw;
    line-height: 109.4%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #383b47;
    margin-top: 18vw;
  }
}

@media screen and (max-width: 500px) {
  .banner2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 87.179vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.846vw;
  }

  .banner2__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    margin-bottom: 3.846vw;
    background-image: url(../images/water-transport.svg);
    width: 87.179vw;
    height: 44.615vw;
  }

  .banner2__image-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/moto-transport.png);
    width: 87.179vw;
    height: 44.615vw;
  }

  .banner2__title {
    font-size: 3.59vw;
    margin-top: 36vw;
    margin-left: 23vw;
  }
}

/*# sourceMappingURL=banner2.css.map */