.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}

.search__item-title {
  width: 12.2vw;
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 900;
  color: #2d2d2d;
  margin-left: 20.3vw;
}

.search__item-subtitle {
  width: 9vw;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.729vw;
  line-height: 0.885vw;
  color: #2d2d2d;
}

.search__item-search {
  width: 16.146vw;
  height: 2.083vw;
  position: relative;
}

.search__input {
  cursor: pointer;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  min-height: 1.667vw;
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.781vw;
  color: #a2a2a2;
}

.search__magnifier {
  background-image: url(../images/magnifier.svg);
  position: absolute;
  background-size: 100%;
  height: 1.042vw;
  width: 1.042vw;
  top: 0.66vw;
  border: none;
  background: no-repeat;
  right: 0.521vw;
}

.search__item-telephone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 0.729vw;
  line-height: 0.885vw;
  color: #ec2449;
  border-bottom: 1px dashed #ec2449;
  margin-right: 22.9vw;
  cursor: pointer;
}

.search__image-phone {
  cursor: pointer;
  width: 0.833vw;
  height: 0.833vw;
  margin-right: 0.625vw;
}

@media screen and (max-width: 800px) {
  .search {
    height: 5.250vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  .search__item-title {
    width: 21vw;
    font-family: "Montserrat";
    font-style: bold;
    font-weight: 900;
    color: #2d2d2d;
    margin-left: 4vw;
  }
  .search__item-subtitle {
    width: 15.375vw;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.250vw;
    line-height: 1.500vw;
    color: #2d2d2d;
  }
  .search__item-search {
    width: 23.500vw;
    height: 3vw;
    position: relative;
  }
  .search__input {
    cursor: pointer;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    min-height: 1.667vw;
    border-color: #e1e1e1;
    border-width: 1px;
    border-style: solid;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1.500vw;
    line-height: 0.781vw;
    color: #a2a2a2;
  }
  .search__magnifier {
    background-image: url(../images/magnifier.svg);
    position: absolute;
    background-size: 100%;
    height: 2.125vw;
    width: 2.125vw;
    top: 0.66vw;
    border: none;
    background: no-repeat;
    right: 0.521vw;
  }
  .search__item-telephone {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.750vw;
    line-height: 0.885vw;
    color: #ec2449;
    margin-right: 4vw;
    border-bottom: 1px dashed #ec2449;
    cursor: pointer;
  }
  .search__image-phone {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    margin-left: 5vw;
  }
}
/*# sourceMappingURL=search.css.map */